@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>Typescript Taster</h1>
    <p class="lead">A quick demo to show the benefits of developing in typescript</p>
</div>

<div class="row">
    <select class="example form-control" name="drink">
        <option value="Americano">Americano</option>
        <option value="Latte">Latte</option>
        <option value="Mocha">Mocha</option>
        <option value="Doombar">Doombar</option>
    </select>
</div>

<script>
    $(document).ready(function () {

        $(".example").select2();

        debugger;
        $.post("/api/order", {
            order: "coffee",            
        })
    });
</script>