@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Typescript Taster</h1>
    <p class="lead">A quick demo to show the benefits of developing in typescript</p>
</div>

<div class="row">

</div>

<script>
    $(document).ready(function() {
        debugger;
        $.post("/api/order", {
            order: "coffee",            
        })
    });
</script>